@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcom to the products page </h1>
    <img src="~/images/image.png" alt="No image displayed" style="width: 500px; height:200px;">
   </div>
